{% extends "template.html.twig" %}
	{% block title %} 
		{{ firstname }} {{ name }}
	
	{% endblock %}

	{% block pageTitle %}
		voici ma première page 
	{% endblock %}

	{% block body %}
			<div>
			<h1>Je suis {{name}} {{firstname}}</h1>
		</div>
		mon url est {{ url('first')}}
	{% endblock %}


